/* line 2, ../sass/layout.scss */
.sec_header .container {
  padding: 0 20px 50px;
}
/* line 5, ../sass/layout.scss */
.sec_header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background: url("../img/gravel-01.png");
  background-repeat: round;
  z-index: -1;
  transform: scaleX(-1);
}

/* line 20, ../sass/layout.scss */
.rules_title,
.award_link {
  position: relative;
  left: 0;
}

/* line 27, ../sass/layout.scss */
.sec_rules:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background: url("../img/gravel-02.png");
  background-repeat: round;
  z-index: -1;
}
/* line 39, ../sass/layout.scss */
.sec_rules figure {
  padding: 0 0 100px;
}
/* line 41, ../sass/layout.scss */
.sec_rules figure h3 {
  margin: 30px 0 10px;
}

/* line 48, ../sass/layout.scss */
.sec_award .award_link {
  font-size: 2.6em;
}
/* line 51, ../sass/layout.scss */
.sec_award:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background: url("../img/gravel-02.png");
  background-repeat: round;
  z-index: -1;
  transform: scaleX(-1);
}
/* line 64, ../sass/layout.scss */
.sec_award figure {
  padding: 0 0 40%;
}
/* line 66, ../sass/layout.scss */
.sec_award figure a {
  display: inline-block;
  margin-bottom: 1em;
}
/* line 69, ../sass/layout.scss */
.sec_award figure a h3 {
  margin: 30px 0 0;
}

/* line 76, ../sass/layout.scss */
.sec_host {
  opacity: 0.8;
  background: #555;
  color: #eee;
}
/* line 80, ../sass/layout.scss */
.sec_host:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background: url("../img/gravel-01.png");
  background-repeat: round;
  z-index: -1;
}

/* line 94, ../sass/layout.scss */
figure.host_desc {
  text-align: center;
}
/* line 96, ../sass/layout.scss */
figure.host_desc > figcaption {
  font-size: 10vw;
}
/* line 99, ../sass/layout.scss */
figure.host_desc figure {
  margin: 30px auto;
}
/* line 101, ../sass/layout.scss */
figure.host_desc figure:nth-last-of-type(2) {
  margin: 40px auto 10px;
}
/* line 104, ../sass/layout.scss */
figure.host_desc figure:last-of-type {
  margin: 10px auto 40px;
}
/* line 107, ../sass/layout.scss */
figure.host_desc figure figcaption {
  font-size: 5vw;
  color: #aaa;
}
/* line 111, ../sass/layout.scss */
figure.host_desc figure p {
  font-size: 4vw;
}

@media screen and (min-width: 768px) {
  /* line 118, ../sass/layout.scss */
  .rules_title,
  .award_link {
    position: absolute;
    left: 5%;
  }

  /* line 124, ../sass/layout.scss */
  .sec_award .award_link {
    font-size: 3em;
  }

  /* line 127, ../sass/layout.scss */
  .sec_rules figure {
    background: #555;
    color: #eee;
    margin-left: 30%;
    padding: 10px 40px 100px;
    box-shadow: 2px 0 5px #000;
  }

  /* line 134, ../sass/layout.scss */
  .sec_award figure {
    margin-left: 40%;
    padding: 10px 40px 100px;
  }

  /* line 139, ../sass/layout.scss */
  figure.host_desc > figcaption {
    font-size: 3em;
  }
  /* line 143, ../sass/layout.scss */
  figure.host_desc figure figcaption {
    font-size: 1.2em;
  }
  /* line 146, ../sass/layout.scss */
  figure.host_desc figure p {
    font-size: 1.6em;
  }
}

/*# sourceMappingURL=layout.css.map */
