/* line 5, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/base.scss */
* {
  box-sizing: border-box;
  outline: none !important;
}

/* line 6, ../sass/base.scss */
body {
  font: 400 16px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  background: #eee;
  margin: 0 auto !important;
  text-align: justify;
}

/* line 13, ../sass/base.scss */
.container {
  max-width: 1280px;
  padding: 0 20px;
}

/* line 18, ../sass/base.scss */
h1 {
  text-align: center;
}

/* line 22, ../sass/base.scss */
a, a:active, a:focus {
  color: inherit;
  border-bottom: 1px dashed #888;
}
/* line 25, ../sass/base.scss */
a:hover, a:active:hover, a:focus:hover {
  color: inherit;
  border-bottom: 1px solid #fff;
  border-color: inherit;
  text-decoration: none;
  transition: .3s;
}

/* line 34, ../sass/base.scss */
h1 {
  font-size: 7.7vw;
  margin-bottom: 1em;
}

/* line 40, ../sass/base.scss */
h2 {
  position: absolute;
  left: 5%;
  top: 20%;
  font-size: 3em;
}

/* line 47, ../sass/base.scss */
h3 {
  font-size: 1.4em;
  font-weight: bold;
}

/* line 2, ../sass/layout.scss */
.sec_header .container {
  padding: 0 20px 50px;
}
/* line 5, ../sass/layout.scss */
.sec_header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background: url("../img/gravel-01.png");
  background-repeat: round;
  z-index: -1;
  transform: scaleX(-1);
}

/* line 20, ../sass/layout.scss */
.rules_title {
  position: relative;
  left: 0;
}

/* line 26, ../sass/layout.scss */
.sec_rules:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background: url("../img/gravel-02.png");
  background-repeat: round;
  z-index: -1;
}
/* line 38, ../sass/layout.scss */
.sec_rules figure {
  padding: 0 0 100px;
}
/* line 40, ../sass/layout.scss */
.sec_rules figure h3 {
  margin: 30px 0 10px;
}

/* line 46, ../sass/layout.scss */
.sec_host {
  opacity: 0.8;
  background: #555;
  color: #eee;
}
/* line 50, ../sass/layout.scss */
.sec_host:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background: url("../img/gravel-01.png");
  background-repeat: round;
  z-index: -1;
}

/* line 64, ../sass/layout.scss */
figure.host_desc {
  text-align: center;
}
/* line 66, ../sass/layout.scss */
figure.host_desc > figcaption {
  font-size: 10vw;
}
/* line 69, ../sass/layout.scss */
figure.host_desc figure {
  margin: 30px auto;
}
/* line 71, ../sass/layout.scss */
figure.host_desc figure:nth-last-of-type(2) {
  margin: 40px auto 10px;
}
/* line 74, ../sass/layout.scss */
figure.host_desc figure:last-of-type {
  margin: 10px auto 40px;
}
/* line 77, ../sass/layout.scss */
figure.host_desc figure figcaption {
  font-size: 5vw;
  color: #aaa;
}
/* line 81, ../sass/layout.scss */
figure.host_desc figure p {
  font-size: 4vw;
}

@media screen and (min-width: 768px) {
  /* line 88, ../sass/layout.scss */
  .rules_title {
    position: absolute;
    left: 5%;
  }

  /* line 92, ../sass/layout.scss */
  .sec_rules figure {
    background: #555;
    color: #eee;
    margin-left: 30%;
    padding: 10px 40px 100px;
    box-shadow: 2px 0 5px #000;
  }

  /* line 100, ../sass/layout.scss */
  figure.host_desc > figcaption {
    font-size: 3em;
  }
  /* line 104, ../sass/layout.scss */
  figure.host_desc figure figcaption {
    font-size: 1.2em;
  }
  /* line 107, ../sass/layout.scss */
  figure.host_desc figure p {
    font-size: 1.6em;
  }
}
/* line 3, ../sass/component.scss */
.count-down {
  left: 0;
  position: relative;
  font-size: 6vw;
  text-align: center;
}

/* line 10, ../sass/component.scss */
#clockdiv {
  font-family: sans-serif;
  color: #333;
  text-align: center;
  font-size: 6vw;
}

/* line 18, ../sass/component.scss */
#clockdiv > div {
  padding: 10px;
  display: inline-block;
  width: 23%;
}

/* line 24, ../sass/component.scss */
#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  display: inline-block;
}

/* line 30, ../sass/component.scss */
.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

/* line 36, ../sass/component.scss */
.award-title {
  margin-top: 2em;
}
/* line 38, ../sass/component.scss */
.award-title:first-child {
  margin-top: 0;
}

/* line 43, ../sass/component.scss */
.award-content {
  padding: 1em;
}

@media screen and (max-width: 480px) {
  /* line 48, ../sass/component.scss */
  #clockdiv > div:last-of-type {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  /* line 55, ../sass/component.scss */
  .header_title h1 {
    font-size: 3em;
  }
  /* line 58, ../sass/component.scss */
  .header_title h2 {
    font-size: 2em;
  }
}

/*# sourceMappingURL=main.css.map */
