.header_title {}

.count-down {
    left: 0;
    position: relative;
    font-size: 6vw;
    text-align: center;
}

#clockdiv {
    font-family: sans-serif;
    color: #333;
    text-align: center;
    font-size: 6vw;
}

// clock
#clockdiv > div {
    padding: 10px;
    display: inline-block;
    width: 23%;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

//
.award-title {
    margin-top: 2em;
    &:first-child {
        margin-top: 0;
    }
}

.award-content {
    padding: 1em;
}

.winner-content {
    padding: 0.6em;
}

.winner-title {
    padding: 0.6em;
    margin-top: 2em;
    font-weight: bold;
    &:first-child {
        margin-top: 0;
    }
}

@media screen and (max-width: 480px) {
    #clockdiv >div:last-of-type {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header_title {
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 2em;
        }
    }
}
