.scroll_down {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
    path {
        stroke: #333;
        fill: transparent;
        stroke-width: 1px;
        animation: scroll_down 2s infinite;
        -webkit-animation: scroll_down 2s infinite;
        &.a1 {
            animation-delay: -1s;
            -webkit-animation-delay: -1s;
            /* Safari & Chrome */
        }
        &.a2 {
            animation-delay: -0.5s;
            -webkit-animation-delay: -0.5s;
            /* Safari & Chrome */
        }
        &.a3 {
            animation-delay: 0s;
            -webkit-animation-delay: 0s;
            /* Safari & Chrome */
        }
    }
    @keyframes scroll_down {
        0% {
            opacity: 0
        }
        40% {
            opacity: 1
        }
        80% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    @-webkit-keyframes scroll_down {
        //Safari & Chrome
        0% {
            opacity: 0
        }
        40% {
            opacity: 1
        }
        80% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
}

.count-down {
    left: 0;
    position: relative;
    font-size: 6vw;
    text-align: center;
    display: none;
}

#clockdiv {
    font-family: sans-serif;
    color: #333;
    text-align: center;
    font-size: 6vw;
    display: none;
}

// clock
#clockdiv > div {
    padding: 10px;
    display: inline-block;
    width: 23%;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

//
.award-title {
    margin-top: 2em;
    &:first-child {
        margin-top: 0;
    }
}

.award-content {
    padding: 1em;
}

.winner-content {
    padding: 0.6em;
}

.winner-title {
    margin-top: 2em;
    font-weight: bold;
    &:first-child {
        margin-top: 0;
    }
}

.photo {
    box-shadow: 1px 1px 3px;
    display: inline-block;
    padding: 0;
    margin: 1rem auto;
    text-align: center;
    font-size: 0.8em;
    max-width: 300px;
}

@media screen and (max-width: 480px) {
    #clockdiv >div:last-of-type {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header_title {
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 2em;
        }
    }
}
